@import "../../styles/addons.scss";
.filter {
    padding: 0px 15px;
    height: 20px;
    border-right: 1px solid #d7d7d7;
    margin-top: 14px;

    i {
        margin-right: 10px;
    }

    &.add-product {
        padding: 0 10px;
        margin-top: 0;
        border-right: none;

        .button-blue {
            background-color: $kpc-blue;
            font-size: $kpc-font16;
            padding: 12px 30px;
            color: $kpc-white;

            i {
                margin-left: 10px;
            }
        }
    }

    &.filter-mda {
        border-right: none;
        a{
            color: $text-color;
        }
    }
}
.box-filters{
    position: absolute;
    width: 750px;
    right: 30px;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #fff;
    z-index: 5;
    .box-filters-detail{
        padding: 30px;
    }
    .detail-button-dropdown{
        width: 184px;
    }
    .box-label{
        float: left;
        color: $header-filter-box;
    }
    .box-sublabel{
        text-align: left;
        color: $line;
        font-weight: 300;
        width: 100%;
    }
    .box-filters-detail-item{
        @include kpc-layout(1, 4, 4);
    }
}
