@import "../../styles/addons.scss";

.order-customer-detail{
    .order-customer-name, .order-date, .order-status{
        min-width: 200px;
    }
    .detail{
        display: table-cell;
        padding: 0 15px;
        border-right: 1px solid #e7e7e7;
        .headline{
            font-size: 13px;
            color: $breadcrumb;
        }
    }
    .order-status{
        border-right: none;
    }
    padding: 20px 0px;
}
