@import "../../styles/addons.scss";

.customer-detail{
    .customer-id{
        min-width: 120px
    }
    .customer-name, .customer-register-date, .customer-lastest-login{
        min-width: 250px;
    }
    .customer-level{
        min-width: 150px;
    }
    .detail{
        display: table-cell;
        padding: 0 15px;
        border-right: 1px solid #e7e7e7;
        .headline{
            font-size: 13px;
            color: $breadcrumb;
            padding-bottom: 10px;
        }
    }
    .level-image{
        width: 30px;
        vertical-align: text-top;
    }
    .customer-email, .customer-level-image{
        border-right: none;
    }
    padding: 20px 0px;
}
