@import "../../styles/addons.scss";

.account-edit-view{
    @include kpc-width(1280px);
    .page-header{
		display: block;
		margin-bottom: 30px;
        .page-title {
			@include kpc-layout-equal(12);
		}
        .header {
			@include kpc-header();
		}
        .back{
            @include kpc-layout-equal(12);
        }
        .bottom-line{
            border-bottom: 1px solid $line;
            @include kpc-layout-equal(12);
            padding-top: 20px;
        }
        .sub-breadcrumb{
            padding: 0 10px;
            color: #e7e7e7;
            display: inline-block;
        }
    }
    .wrapper-content{
        @include kpc-layout-equal(12);
        padding-top: 20px;
        .title{
            @include font-bold();
        }
        .detail{
            font-weight: 300;
            padding: 15px 15px 25px;
        }
        .panel-control{
            font-weight: 300;
            font-size: 16px;
            padding: 10px;
        }
        .select-style{
            // background-image: url('./select.png');
            // background-repeat: no-repeat;
            // background-attachment: fixed;
            background: url('./select.png') no-repeat right center;
                background-size: contain;
            width: 100%;
            overflow: hidden;
            border-radius: 4px;
            border: 1px solid #ccc;
            .panel-control{
                background: transparent;
                border: none;
                font-size: 14px;
                height: 29px;
                padding: 5px;
                width: 102%;
            }
        }
    }
}
