@import "../../styles/addons.scss";

.table-detail {

    .tab-content {
        overflow-x: scroll;
        margin-bottom: 40px;

        table {
            table-layout: fixed;

            thead {

                .title-table {
                    color: $kpc-blue;
                    font-size: $kpc-font14;

                    th {
                        padding: 25px 8px;
                    }
                }

                .product-checkbox {
                    width: 20px;
                }

                .product-id {
                    width: 55px;
                }

                .product-thumbnail {
                    width: 90px;
                }

                .product-sku {
                    width: 85px;
                }

                .product-name {
                    width: 130px;
                }

                .product-type {
                    width: 60px;
                }

                .product-price {
                    width: 95px;
                }

                .product-qty {
                    width: 50px;
                }

                .produt-brand {
                    width: 130px;
                }

                .product-merchiandise {
                    width: 120px;
                }

                .product-visibility {
                    width: 65px;
                }

                .product-status {
                    width: 65px;
                }
            }

            tbody {
                font-size: 14px;
            }

            tbody > tr:nth-of-type(odd) {
                background-color: #f9fcff;
            }
        }
    }
    .filter-bottom {
        @include kpc-layout-equal(12);
}
			}