@import "../../styles/addons.scss";
body{
    background-color: #042B54;

}


.login-view{
    @include kpc-layout-equal(12);

    .login-section{
        width: 50%;
        margin: 0 auto;

        .header-logo{
            margin: 50px auto;

            img{
                width: 100%;
                margin: 0px auto;
            }
        }

        .input-group{
            width: 100%;
            margin-bottom: 20px;
        }

        .forgot-password{
            float: left;
            color: #fff;
        }
        
        .remember-me{
            float: right;
            color: #fff;
            label{
                padding-left: 10px;
            }
        }
    }

    .footer-image{
        width: 100%;
        margin-top: 50px;
    }

}
