// @mixin font-light() {
//   font-weight: 300;
// }

@mixin font-bold() {
  font-weight: 600;
}

@mixin ss-text1() {
  font-size: $ss-font16;
  color: $ss-black;
}

@mixin ss-text2() {
  font-size: $ss-font16;
  color: $ss-dark-gray;
}

@mixin ss-text3() {
  font-size: $ss-font16;
  color: $ss-red;
}

@mixin ss-text4() {
  font-size: $ss-font16;
  color: $ss-blue;
}

@mixin ss-text5() {
  font-size: $ss-font16;
  color: $ss-white;
}

@mixin ss-text6() {
  font-size: $ss-font14;
  color: $ss-black;
}

@mixin ss-text7() {
  font-size: $ss-font14;
  color: $ss-dark-gray;
}

@mixin ss-text8() {
  font-size: $ss-font14;
  color: $ss-red;
}

@mixin ss-text9() {
  font-size: $ss-font14;
  color: $ss-blue;
}

@mixin ss-text10() {
  font-size: $ss-font14;
  color: $ss-green;
}

@mixin ss-text11() {
  font-size: $ss-font14;
  color: $ss-white;
}

@mixin ss-text12() {
  font-size: $ss-font12;
  color: $ss-black;
}

@mixin ss-text13() {
  font-size: $ss-font12;
  color: $ss-dark-gray;
}

@mixin ss-text14() {
  font-size: $ss-font12;
  color: $ss-gray;
}

@mixin ss-text15() {
  font-size: $ss-font12;
  color: $ss-blue;
}

@mixin ss-text16() {
  font-size: $ss-font12;
  color: $ss-white;
}

@mixin ss-text17() {
  font-size: $ss-font11;
  color: $ss-dark-gray;
}

@mixin ss-text18() {
  font-size: $ss-font11;
  color: $ss-gray;
}

@mixin ss-text19() {
  font-size: $ss-font10;
  color: $ss-gray;
}

@mixin kpc-border($x: 1px) {
  border: $x solid $line-gray-dark;
}

@mixin kpc-border-top($x: 1px) {
  border-top: $x solid $line-gray-dark;
}

@mixin kpc-border-bottom($x: 2px) {
  clear: both;
  height: 2px;
  border-bottom: 2px solid #d7d7d7;
  margin-left: 15px;
}

@mixin kpc-border-top($x: 2px) {
  border-top: 2px solid #d7d7d7;
}

@mixin kpc-border-bottom2($x: 2px) {
  border-bottom: 2px solid #d7d7d7;
}



@mixin kpc-border-left($x: 1px) {
  border-left: $x solid $line-gray-dark;
}

@mixin kpc-layout-equal ($col: 1) {
  @media (max-width: $screen-xs-max) {
    @include make-xs-column($col);
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include make-sm-column($col);
  }
  @media (min-width: $screen-md-min) {
    @include make-md-column($col);
  }
}

@mixin kpc-layout ($xs: 1, $sm: 1, $md: 1) {
  @media (max-width: $screen-xs-max) {
    @include make-xs-column($xs);
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include make-sm-column($sm);
  }
  @media (min-width: $screen-md-min) {
    @include make-md-column($md);
  }
}

@mixin kpc-layout-offset ($sm-offset: 0, $md-offset: 0) {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include make-sm-column-offset($sm-offset);
  }
  @media (min-width: $screen-md-min) {
    @include make-md-column-offset($md-offset);
  }
}

@mixin kpc-crop-image ($height: 50px) {
  height: $height;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin kpc-avatar-img($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  display: inline-block;
  vertical-align: middle;
  @include kpc-crop-image($height);
}

@mixin kpc-line-dashed($width: 1px, $color: $ss-gray) {
  border-top: $width dashed $color;
}

// set height and font-size depend on how many line you want
@mixin kpc-wordwrap($line: 1) {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  // height: 43px;
  // font-size: 14px;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
}

@mixin kpc-underline($max-width: 95%) {
  position: relative;
  max-width: $max-width;
  left: (100% - $max-width)/2;
  border-top: 1px solid #EDEDED;
}

@mixin kpc-header() {
  font-size: $kpc-font36;
  color: $kpc-dark-gray;
}

@mixin kpc-width($min-width: 1440px) {
  padding-top: 50px;
  min-width: $min-width;
}

@mixin kpc-header2() {
  font-size: $kpc-font21;
  color: $kpc-black;
  margin-bottom: 30px;
  margin-top: 0;
}



/* .icon-hint {
  margin-right: 5px;
}

.icon-link {
  cursor: pointer;
}

.text-hint {
  font-style: italic;
} */
