// @mixin font-light() {
//   font-weight: 300;
// }

@mixin font-bold() {
  font-weight: 600;
}

@mixin skp-text1() {
  font-size: $skp-font16;
  color: $skp-black;
}

@mixin skp-text2() {
  font-size: $skp-font16;
  color: $skp-dark-gray;
}

@mixin skp-text3() {
  font-size: $skp-font16;
  color: $skp-red;
}

@mixin skp-text4() {
  font-size: $skp-font16;
  color: $skp-blue;
}

@mixin skp-text5() {
  font-size: $skp-font16;
  color: $skp-white;
}

@mixin skp-text6() {
  font-size: $skp-font14;
  color: $skp-black;
}

@mixin skp-text7() {
  font-size: $skp-font14;
  color: $skp-dark-gray;
}

@mixin skp-text8() {
  font-size: $skp-font14;
  color: $skp-red;
}

@mixin skp-text9() {
  font-size: $skp-font14;
  color: $skp-blue;
}

@mixin skp-text10() {
  font-size: $skp-font14;
  color: $skp-green;
}

@mixin skp-text11() {
  font-size: $skp-font14;
  color: $skp-white;
}

@mixin skp-text12() {
  font-size: $skp-font12;
  color: $skp-black;
}

@mixin skp-text13() {
  font-size: $skp-font12;
  color: $skp-dark-gray;
}

@mixin skp-text14() {
  font-size: $skp-font12;
  color: $skp-gray;
}

@mixin skp-text15() {
  font-size: $skp-font12;
  color: $skp-blue;
}

@mixin skp-text16() {
  font-size: $skp-font12;
  color: $skp-white;
}

@mixin skp-text17() {
  font-size: $skp-font11;
  color: $skp-dark-gray;
}

@mixin skp-text18() {
  font-size: $skp-font11;
  color: $skp-gray;
}

@mixin skp-text19() {
  font-size: $skp-font10;
  color: $skp-gray;
}

@mixin kpc-border($x: 1px) {
  border: $x solid $line-gray-dark;
}

@mixin kpc-border-top($x: 1px) {
  border-top: $x solid $line-gray-dark;
}

@mixin kpc-border-bottom($x: 2px) {
  clear: both;
  height: 2px;
  border-bottom: 2px solid #d7d7d7;
  margin-left: 15px;
}

@mixin kpc-border-top($x: 2px) {
  border-top: 2px solid #d7d7d7;
}

@mixin kpc-border-bottom2($x: 2px) {
  border-bottom: 2px solid #d7d7d7;
}



@mixin kpc-border-left($x: 1px) {
  border-left: $x solid $line-gray-dark;
}

@mixin kpc-layout-equal ($col: 1) {
  @media (max-width: $screen-xs-max) {
    @include make-xs-column($col);
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include make-sm-column($col);
  }
  @media (min-width: $screen-md-min) {
    @include make-md-column($col);
  }
}

@mixin kpc-layout ($xs: 1, $sm: 1, $md: 1) {
  @media (max-width: $screen-xs-max) {
    @include make-xs-column($xs);
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include make-sm-column($sm);
  }
  @media (min-width: $screen-md-min) {
    @include make-md-column($md);
  }
}

@mixin kpc-layout-offset ($sm-offset: 0, $md-offset: 0) {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include make-sm-column-offset($sm-offset);
  }
  @media (min-width: $screen-md-min) {
    @include make-md-column-offset($md-offset);
  }
}

@mixin kpc-crop-image ($height: 50px) {
  height: $height;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin kpc-avatar-img($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
  display: inline-block;
  vertical-align: middle;
  @include kpc-crop-image($height);
}

@mixin kpc-line-dashed($width: 1px, $color: $skp-gray) {
  border-top: $width dashed $color;
}

// set height and font-size depend on how many line you want
@mixin kpc-wordwrap($line: 1) {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  // height: 43px;
  // font-size: 14px;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
}

@mixin kpc-underline() {
  border-bottom: 2px solid #eeeeee;
}

@mixin kpc-topline() {
  border-top: 2px solid #eeeeee;
}

@mixin kpc-header() {
  font-size: $kpc-font36;
  color: $kpc-dark-gray;
}

@mixin kpc-width($min-width: 1440px) {
  padding-top: 50px;
  min-width: $min-width;
}

@mixin kpc-header2() {
  font-size: $kpc-font21;
  color: $kpc-black;
  font-weight: bold;
}




/* .icon-hint {
  margin-right: 5px;
}

.icon-link {
  cursor: pointer;
}

.text-hint {
  font-style: italic;
} */
