.modal {
	width: 936px;
	.close-modal {
		float: right;
		color: $kpc-white-gray
	}
    .modal-title{
        font-size: 21px;
    	@include font-bold();
    	color: #4a4a4a;
    }
}
.modal-body-export{
    height: 125px;
    color: $modal-export;
}
.modal-export{
    width: 320px;
    .modal-footer-export{
        padding: 0px;
    }
    .btn-footer-modal{
        border: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        width: 50%;
        padding: 12px;
        margin: 0px !important;
    }
    .btn-export{
        border-right: 1px solid #e5e5e5;
        border-bottom-right-radius: 0px;
    }
    .btn-cancel{
        margin: 0px;
    }
}
