/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

/**************************
	Style Guide
**************************/

$platinum: #E7E7E7;
$pastel-gray: #ccc;
$taupe-gray: #909090;
/**************************
	Style Guide
**************************/

// Gray Palette //
$scrollbar: $platinum;
$select-dropdown-bg: $platinum;

$border: $pastel-gray;
$line: $pastel-gray;
$disabled:  $pastel-gray;
$placeholder: $pastel-gray;
$input-icon: $pastel-gray;
$current-breadcrumb: $pastel-gray;
$marketing-table-background: #f9fcff;
$marketing-table-border: #c1d9e9;
$border-blue : #b7d1e5;


$text-detail-gray: $taupe-gray;
$breadcrumb: $taupe-gray;


// Custom Colors
$cyan: #33e0ff;
$humility: #777;
$modal-export: #4a4a4a;
// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;

$line-gray: #EAEAEA;
$line-gray-soft: #DEDEDE;
$line-gray-dark: #d7d7d7;

$border-gray: #b2b2b2;

$bg-red-light: #B55059;
$bg-red: #A22430;
$bg-white-light: #F5F5F5;
$bg-shopspot: #f3f3f4;

$bg-button-black: #1a1a1a;
$bg-button-gray: #808080;
$bg-button-orange: #F8AC59;
$bg-button-red: #ED5565;
$bg-button-green: #1AB394;
$bg-button-blue: #0b56a4;
$bg-button-default: #D1DADE;

// new font
$kpc-blue: #0b56a4;
$kpc-black: #000000;
$kpc-white: #ffffff;
$kpc-dark-gray: #333333;
$kpc-white-gray: #9b9b9b;
$kpc-mark-red: #ff2d55;
$kpc-dark-blue: #084483;
$kpc-gray: #b2b2b2;
$kpc-black2: #373a3c;
$kpc-gray2: #898989;


$kpc-font36: 36px;   // 28/16
$kpc-font28: 28px;   // 28/16
$kpc-font26: 26px;  // 26/16
$kpc-font24: 24px;    // 24/16
$kpc-font21: 21px;    // 24/16
$kpc-font18: 18px;  // 18/16
$kpc-font16: 16px;      // 16/16
$kpc-font14: 14px;  // 14/16
$kpc-font12: 12px;   // 12/16
$kpc-font11: 11px; // 11/16
$kpc-font10: 10px;  // 10/16

// for theme
$border-color: #e7eaec;     // IBox border
$ibox-title-bg: #ffffff;     // IBox Background header
$ibox-content-bg: #ffffff;
$nav-tabs-inactive-color: #a7b1c2;

$header-filter-box: #0d4193;

.modal-title {
	strong {
		color: $kpc-blue;
		font-size: $kpc-font21;
	}
}
