@import "../../styles/addons.scss";

.product-hotitem-view {
	@include kpc-width();

	.page-header{
		display: block;
		margin-bottom: 30px;

		.header {
			@include kpc-header();
		}

		.page-breadcrumb {
			color: #909090;
		}

		.page-title {	
			@include kpc-layout(4, 4, 6);
		}

		.page-filter {
			@include kpc-layout(8, 8, 6);
			text-align: right;
			margin-top: 30px;

			.list-filter {
				list-style: none;
				display: inline-flex;

				.filter {
					padding: 0px 15px;
					height: 20px;
					border-right: 1px solid #d7d7d7;
					margin-top: 14px;

					i {
						margin-right: 10px;
					}

					&.add-product {
						padding: 0 10px;
						margin-top: 0;
						border-right: none;

						.button-blue {
							background-color: $kpc-blue;
							font-size: $kpc-font16;
							padding: 12px 30px;
							color: $kpc-white;

							i {
								margin-left: 10px;
							}
						}
					}

					&.filter-mda {
						border-right: none;
					}
				}
			}
		}
	}
	.wrapper-content {
		@include kpc-layout-equal(12);
		
		.content {

			.wrapper-product-tab {
				font-size: $kpc-font16;

				.product-tab a{
					padding: 10px 60px;
					border-radius: 5px 5px 0 0;
				}

				.tab-active a{
					background-color: $kpc-blue;
					color: $kpc-white;
				}
			}

			.filter-product {
				@include clearfix();
				margin-top: 30px;

				.wrapper-filter {

					.filter-left {
		
						float: left;
						margin-right: 20px;
						@media (max-width: $screen-md-max) {
							margin-bottom: 20px;
						}

						.filter-action {
							width: 245px;
							float: left;
							margin-right: 30px;

							@media (max-width: $screen-md-max) {
								width: 145px;

								.btn-action {
									width: 100px!important;
								}

								.btn-action-select {
									width: 45px!important;
								}
							}	
				
							.btn-action {
								width: 210px;
							}

							.btn-action-select {
								width: 35px;
							}
						}

						.filter-id {

							float: left;
							width: 285px;

							button {
								width: 100px;
							}

							.input-productid {
								width: 175px;
								height: 33px;
							}
						}
						
					}

					.filter-right {
						float: right;
						@media (max-width: $screen-md-max) {
						}

						.filter-records {
							width: 145px;
	
							.btn-record {
								width: 120px;
							}

							.btn-record-select {
								width: 35px;
							}

							.per-page {
								margin-left: 10px;
								font-size: $kpc-font16;
								color: $kpc-black;
								line-height: 31px;
							}
						}

						.filter-pagination {

							text-align: right;

							.pagination-ul {
								margin:0;
							}
						}
					}

				}
			}
			.table-detail {

				.tab-content {
					overflow-x: scroll;
					margin-bottom: 40px;

					table {
						table-layout: fixed;

						thead {

							.title-table {
								color: $kpc-blue;
								font-size: $kpc-font14;

								th {
									padding: 25px 8px;
								}
							}

							.product-checkbox {
								width: 20px;
							}

							.product-id {
								width: 55px;
							}

							.product-thumbnail {
								width: 90px;
							}

							.product-sku {
								width: 85px;
							}

							.product-name {
								width: 130px;
							}

							.product-type {
								width: 60px;
							}

							.product-attribute {
								width: 60px;
							}

							.product-price {
								width: 95px;
							}

							.product-qty {
								width: 50px;
							}

							.product-status {
								width: 65px;
							}

							.product-batch {
								width: 65px;
							}

							.product-action {
								width: 80px;
							}
						}

						tbody {
							font-size: 14px;
						}

						tbody > tr:nth-of-type(odd) {
							background-color: #f9fcff;
						}
					}
				}
				.filter-bottom {
				 	@include kpc-layout-equal(12);
				}
			}
		}
		
	}
}

.addproduct-modal {
	.close-modal {
		float: right;
		color: $kpc-white-gray
	}

	.addproduct-box {
		width: 60%;
		margin: 0 auto;
		padding: 20px 0;

		.modal-body {
			.select-file {
				margin-bottom: 10px;
			}

			.download-file {
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.btn-blue {
				width: 100%;
			}
		}
	}
}